[Unit]
Description=Cliphist clipboard manager
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/wl-paste --watch cliphist store 

[Install]
WantedBy=default.target
