[init]
defaultBranch = main

[rerere]
enabled = true

[user]
email = lnzmrr@gmail.com
name = Lorenzo Murarotto

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE

[difftool "nvimdiff"]
cmd = nvim -d $LOCAL $REMOTE

[difftool "vimdiff"]
cmd = vim -d $LOCAL $REMOTE
