*
!.gitignore
!.bashrc
!.bootstrap
!.completions.bash
!.gitconfig
!.ideavimrc
!.inputrc
!.shellcheckrc
!.tmux.conf
!.config/
!.config/**
!.claude/
!.claude/settings.json
!.dotfiles/
!.ssh/
!.ssh/config

.pre-commit-config.yaml

*.local.md
*.local.json
*.spl

.envrc
.direnv
.git
