*
!.bashrc
!.bootstrap
!.claude/
!.claude/CLAUDE.md
!.claude/settings.json
!.completions.bash
!.config/
!.config/**
!.dotfiles/
!.gitconfig
!.gitignore
!.ideavimrc
!.inputrc
!.pi/
!.pi/**
!.shellcheckrc
!.ssh/
!.ssh/config
!.tmux.conf

.pre-commit-config.yaml

*.local.md
*.local.json
*.spl

.envrc
.direnv
.git
