""" Mappings

let mapleader = " "

vmap <S-J> <Action>(MoveLineDown)
vmap <S-K> <Action>(MoveLineUp)

map <leader>ff <Action>(GotoFile)
map <leader>ft <Action>(TextSearchAction)
map <leader>fc <Action>(GotoAction)

""" Settings

set clipboard=unnamed,unnamedplus,ideaput
set ideajoin
set matchpairs+=<:>
set scrolloff=5

set timeout
set timeoutlen=400

set gdefault
set hlsearch
set incsearch

set ignorecase
set smartcase


""" Plugins

set commentary
set highlightedyank
set surround
set textobj-entire
