window {
    border: 2px solid #504945;
    background-color: #282828;
}

#input {
    margin: 8px;
    color: #ebdbb2;
    background-color: #3c3836;
}

#inner-box {
    margin: 8px;
    background-color: #282828;
}

#outer-box {
    margin: 4px;
    background-color: #282828;
}

#text {
    margin: 8px;
    color: #ebdbb2;
}

#entry:selected {
    background-color: #504945;
}